/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.box-shadow-none {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
/**************/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/***************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #555;
}

main {
    flex: 1 0 auto;
    font-size: 16px;
}

nav {
    line-height: 40px;
}
nav .nav-wrapper {
    padding: 10px;
    border-bottom: 4px solid #4695d0;
}

nav .brand-logo{
    margin-left:20px;
    font-size: 22px;
}

.breadcrumb {
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0 20px 0;
}
.breadcrumb:before{
    color: #0f0f0f;
}
.page-footer {
    margin-top: 30px;
}
footer{
    border-top: 2px solid #1a237e;
    font-size: 14px;
}
/*nav .nav-wrapper ul li:last-child a{*/
    /*border-left: 2px solid #4695d0;*/
/*}*/
.footer-copyright {
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.card{
    background-color: #F7F7F9;
    font-size: 14px;
}
.card.case .p{
    font-size: 16px;
}
.card .card-title{
    font-size: 16px;

}
.collection a{
    color: #555;
}
.collection .note{
    font-size: 14px;
    color: #888;
    margin-bottom: 0;
}
.collection .collection-item{
    padding: 20px 30px;
}
.collection .title{
    line-height: 24px;
}
.tabs .indicator {
    background-color: #ff6d00;
}
.training .tabs .indicator {
    background-color: #4a148c;
}
.testing .tabs .indicator {
    background-color: #00897b ;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #f0f0f0;
}
.tab.disabled{
    background-color: #eee;
}
nav ul li.active {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 10px rgba(0, 0, 0, 0) solid;
    border-top: 10px rgba(0, 0, 0, 0) solid;
    margin-top: -10px;
}
label{
    color:#555555;
}

[type="checkbox"] + span:not(.lever) {
    line-height: unset;
}
.choice_answers{
    padding: 20px 0;
}

.row_choice_answers div{
display: inline-block;
}
.row.answer{
    margin-bottom: 0;
}
.btn.answer{
    margin-top: 15px;
}
.test_result_h{
    font-size: 16px;
    font-weight: bold;
}

.login .row {
    margin-bottom: 0px;
}
.login .input-field {
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.card .card-image.lk_image{
    background: url("../img/account_1.jpg");
    /*height: 66%;*/
}
.card .card-image img.account_img{
    width: 35%;
    margin: 0 auto;
    /*top:25px;*/
    /*margin-bottom: 20px;*/
    opacity: 0;
}
.card.lk{
    top:20px;
    font-size: 16px;
}
.info_user{
    font-size: 16px;
}
.lk .row{
    margin-bottom: 0;
}
.lk .collection .collection-item{
    padding: 15px 30px;
}
.lk .collection a.collection-item{
    color: #555555;
}
.lk .collection a.collection-item:hover {
    background-color:#e8eaf6  ;
}
.a_admin{
    margin-top: 30px;
}
.info_user span{
    color: #999;
}
.card .card-content p.login {
    margin-bottom: 10px;
}
.info_user .login span{
    color: #555;
    font-size: 24px;
    font-weight: 600;
}
.nothing_found{
    padding-bottom: 30px;
}

.help-block-error{
    font-size: 12px;
    color: #C62828;
}
.text_signup{
    margin-top: 25px;
    font-size: 14px;
}
.text_signup a {
    color: #9e9e9e;
}
.text_signup a:hover {
    color:#1b5e20 ;
}
.result_text{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.href_lk{
    margin-top: 30px;
}
.img_account_admin{
    width: 50px;
    opacity: 0.1;
}

/******** таймер **************/

ul.countdown {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    display: block;
    text-align: center;
}
ul.countdown.hidden_elem {
    display: none;

}

ul.countdown li {
    display: inline-block;
}
ul.countdown li span {
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
}
ul.countdown li.seperator {
    font-size: 18px;///
    line-height: 18px;
    vertical-align: top;
}
ul.countdown li p {
    color: #a7abb1;
    font-size: 12px;
}

/******** end таймер **************/

.hidden_elem{
    display: none;
}

.ul_th{
    height: auto;
}
.inform{
    margin-left: 30px;
}
/*::-webkit-scrollbar {*/
    /*width: 12px;*/
    /*height: 8px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
    /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);*/
    /*border-radius: 0px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);*/
/*}*/
